{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <form action="{% url 'createpage' %}" method="POST">
        {% csrf_token %}
        <label>Title: </label>
        <input type="text" name="title" placeholder="Enter the title here">
        <br>
        <label>Content: </label>
        <br>
        <textarea placeholder="Enter content here" name="content"></textarea>
        <br>
        <input type="submit" value="Create New Page">
    </form>



{% endblock %}