{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <form action="{% url 'saved' %}" method="POST">
        {% csrf_token %}
        <label>Title: </label>
        <input type="text" name="title" placeholder="Enter the title here" value="{{ title }}">
        <br>
        <label>Content: </label>
        <br>
        <textarea placeholder="Enter content here" name="content">{{ content }}</textarea>
        <br>
        <input type="submit" value="Edit Now">
    </form>



{% endblock %}